.current__play-img {
  height: 260px;
  width: 260px;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 45px;
  box-shadow: 0.4em 0.4em 1em 0.3em rgba(0, 0, 88, 0.466);
}

.current__play-text {
  margin-top: 50px;
  text-align: center;
}
.current__play-title {
  font-size: 25px;
  font-weight: 700;
}

.current__play-singer {
  font-size: 20px;
  font-weight: 500;
}
